@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "ViewAllUser";
}

@using EADWebTeacherFacilitationSystem.Models
<body>
    
        <div class="container">
            
                <table border="1"
                       style="background-color:azure">
                    <tr class="alert-success:" style="background-color: gold"><td>ID</td><td>NAME</td><td>PASSWORD</td><td>DESIGNATION</td><td>ADDRESS</td><td>EMAIL ID</td><td>PHONE NO</td><td>STATE</td><td>Edit User</td><td>Delete User</td><td>Block User</td></tr>
                    @foreach (User u in Model)
                    {
                        <tr><td>@u.Id</td><td>@u.Name</td><td>@u.Password</td><td>@u.Designation</td><td>@u.Address</td><td>@u.EmailID</td><td>@u.PhoneNo</td><td>@u.State</td><td>@Html.ActionLink("Edit", "EditUser", new { id = u.Id })</td><td>@Html.ActionLink("Activate", "ActivateUser", new { id = u.Id })</td><td>@Html.ActionLink("Block", "BlockUser", new { id = u.Id })</td></tr>
                    }
                </table>
            
        </div>
    
</body>