@{
    ViewBag.Title = "EditInfo";
    Layout = "~/Views/Shared/StudentLayout1.cshtml";
}

@model EADWebTeacherFacilitationSystem.Models.User

<body>
    <div class="container">
        <div class="col-lg-3"></div>
        <h3 class="col-lg-6">Edit Profile</h3>
    </div>

    <div>
        <form action="/Student/SaveEditInfo" class="form-horizontal" role="form">


            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.Designation)
            @Html.HiddenFor(x => x.State)
            <div class="form-group">
                @Html.LabelFor(q => q.Name, new { @class = "control-label col-lg-3" })
                <div class="col-lg-4">
                    @Html.TextBoxFor(q => q.Name, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(u => u.Password, new { @class = "control-label col-lg-3" })
                <div class="col-lg-4">
                    @Html.TextBoxFor(u => u.Password, new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(u => u.Address, new { @class = "control-label col-lg-3" })
                <div class="col-lg-4">
                    @Html.TextBoxFor(u => u.Address, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(u => u.EmailID, new { @class = "control-label col-lg-3" })
                <div class="col-lg-4">
                    @Html.TextBoxFor(u => u.EmailID, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(u => u.PhoneNo, new { @class = "control-label col-lg-3" })
                <div class="col-lg-4">
                    @Html.TextBoxFor(u => u.PhoneNo, new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>

        </form>
    </div>



</body>